git+https://github.com/Timothy-W-Hilton/hvplot@title_format
jupyter
xarray
panel
requests
matplotlib
netCDF4  #required by xarray but not automatically installed
rq  #redis queue for creating worker tasks with heroku
flask
